* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efe0ce;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #232c29;
}

ul li {
    display: inline;
}

ul li img {
    height: 80px;
    width: auto;
    scale: 150%;
    left: 1%;
    margin: 0;
    z-index: 101;
}

.nav-links {
    display: flex;
    gap: 20px;
    z-index: 999;
}

ul li a {
    display: block;
    color: #efe0ce;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
}

ul li a:hover,
ul li a.current {
    color: #fa9f11;
}

h1 {
    position: relative;
    font-size: 100px;
    font-weight: 1000;
}

h2 {
    position: relative;
    font-size: 25px;
    font-weight: 750;
}

h3 {
    position: relative;
    font-size: 75px;
    font-weight: 500;
    color: #efe0ce;
}

a {
    color: #7b907a;
    text-decoration: none;
    font-size: 30px;
}

a.current {
    color: #b5c375;
}

p {
    font-size: 30px;
}